@media only screen and (max-width: 1024px) {
  .square-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  input {
    border-radius: 7px;
    padding: 0.8rem;
  }

  .bt {
    height: 3.4rem;
  }

  #login {
    .container-input + * {
      margin-top: 12px;
    }

    .logo {
      margin: 0 auto;
      display: block;
    }

    h1 + * {
      margin-top: 1rem;
    }

    h1 {
      text-align: center;
    }

    .background {
      display: none;
    }

    form {
      .content-form {
        max-width: 400px;
        padding: 20px 0;
      }
    }
  }
  #nav-zylt-1 {
    .square-grid {
      display: flex;
      justify-content: center;
    }
    .square {
      max-width: 300px;
    }
  }
  #nav-zylt-2 {
  }
  #nav-zylt-3 {
    .bot {
      p + * {
        margin-top: 0.8rem;
      }
      li + * {
        margin-top: 0.8rem;
      }
    }
  }
  #nav-zylt-4 {
    .square {
      img {
        max-width: 13rem;
      }
    }
  }
  #nav-zylt-5 {
    .box-left {
      img {
        max-width: 16rem;
      }
    }
    .box-right {
      img {
        max-width: 24rem;
      }
    }
  }
  #nav-zylt-6 {
    .profile {
      text-align: center;
      margin: 0 auto;
    }
    .square-grid {
      max-width: 430px;
      margin: 0 auto;
      grid-template-columns: repeat(1, 1fr);
    }
    .square {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}
