@media only screen and (max-width: 768px) {
  .title + * {
    margin-top: 16px;
  }
  .bt {
    height: 3.2rem;
  }
  .number {
    padding: 3px 15px;
  }
  #login {
    min-height: calc(100vh - 44px);

    h1 + * {
      margin-top: 1rem;
    }
  }
  #nav-zylt-4 {
    .square-grid {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .square {
      max-width: 470px;
    }
  }
  #nav-zylt-5 {
    .box-left {
      img {
        max-width: 14rem;
      }
    }
    .box-right {
      img {
        max-width: 18rem;
      }
    }
    .text-grid {
      grid-template-columns: 1fr;
    }
    .square-grid {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .square-grid-2 {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .square {
      max-width: 470px;
    }
  }

  footer {
    .container-zylt {
      justify-content: center;
      flex-direction: column;
    }

    .links-footer {
      flex-direction: column-reverse;
      gap: unset;
      text-align: center;
    }
    .links-footer + * {
      margin-top: 10px;
    }
  }
}
